@{
    Layout = null;
}
<form action="POST">
    <div>
        <label for="username">Name: </label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password">
    </div>
    <button type="submit">Subimt</button>
</form>